.header {
    position:fixed;
    top:0;
    height: 30px;
    width:100%;
    color: white;
}

.headerContent{
    padding: 10px 10px;
}

.appName {
    float:left;
}

.user {
    text-align: right;
}