.Connect-name{
    width: 60%;
    height: 2em;
    font-size: 1.7em;
    text-align: center;
    font-family: Whitney, Arial, sans-serif;
}

.EmojiBox{
    /*background-color: rgba(255,255,255, 0.7);*/
    width: 60%;
    height:15em;
    overflow-y: scroll;
    cursor:pointer;
    -webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}

.EmojiBox:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


.EmojiBox::-webkit-scrollbar{
    display: none;
}

.Emoticon-element{
    display: inline-block;
    font-size:3em;
}

@media (max-width: 750px) {
    .Emoticon-element{
        width: 30%;
    }
}

@media(min-width: 750px){
    .Emoticon-element{
           width: 15%;
    }
}

.Emoticon-element.inactive{
    opacity: 0.5;
}

.Emoticon-element.inactive:hover{
    opacity: 1;
}

.Emoticon-element.active{
    animation: pulseEmoji 2s infinite;
}

.Login-label{
    font-size: 1.5em;
    padding-bottom: 0.3em;
}

.Login-button{
    width:60%;
    font-size: 2em;
        cursor:pointer;
    -webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}

.btn-done{
    background-color: #56B2FF;
}


@keyframes pulseEmoji {
  0% {
    font-size:3em;
  }
  50% {
    font-size:2em;
  }
  100% {
    font-size:3em;
  }
}
