.Header {
  position: fixed;
    cursor: pointer;
    background-color: #6E00B9;
    padding-top: 25px;
    top:0;
    height: 30px;
    width:100%;
    color: white;
    -webkit-app-region: drag;
}

.Header .appName {
    float:left;
    padding-left: 10px;
}

.Header .userName {
    text-align: right;
    padding-right: 10px;
}
