li {
    font-size: .8em;
    list-style: none;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #979797;
}
.requestStatus-active .button {
    color: white;
}
.requestStatus-active .button:hover {
    color: #969696;
}

.fileName {
    float: left;
    display: inline-block;
    color: #969696;
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fileSize {
  white-space: nowrap;
}
.buttons {
    text-align: right;
    display: inline-block;
    width: 45%;
    text-align: right;
}
.button {
    color: #6E00B9;
    cursor: pointer;
}
.button:hover {
    color: black;
}

.spliter{
    cursor: default;
}

.requestStatus, .requestStatus-active {

}
