.Send {
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.prompt {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
