.Send {
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.canSend {
    color: white;
    background-color: black;
}

.cannotSend {
    background-color: white;
    color: black;
    border-style: solid;
    height: 44px;
}

.prompt {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.Overlay {
    background-color: transparent;
}
.Modal {
    position: absolute;
    bottom: 0;
    height: 162px;
    line-height: 162px;
    left: 10px;
    right: 10px;
    bottom: 57px;
    color: white;
    background: #6e00b9;
    padding-left: 50px;
    padding-right: 50px;
    /*text-align: center;*/
    border: 3px solid black;
    opacity: 1;
}
@media (min-width: 575px) {
    .Modal {
        text-align: center;
    }
}
.Modal p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.Modal:after,
.Modal:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.Modal:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #6e00b9;
    border-width: 10px;
    margin-left: -10px;
}
.Modal:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: black;
    border-width: 14px;
    margin-left: -14px;
}
.Modal:focus {
    outline: 0;
}
