.User {
	border: 2px solid black;
	margin-bottom: 10px;
	padding: 10px;
	cursor: pointer;
}

.userSelected {
	border: none;
	background-color: #deaeff;
	border: 2px solid #deaeff;
	color: white;
}

.User .userName {
	font-size: 1.7em;
}
