@media (max-width: 600px) {
    .User{
        width:25%;
    }
}

@media(min-width: 600px){
    .User{
        width:16.6%;
    }
}

.User{
    display: inline-block;
}

div.notification-bar-action {
    margin-top: 1rem;
    text-align: right
}


div.notification-bar-action span{
    padding: 0.125rem;
    color: rgb(244, 67, 54);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: "normal Roboto", sans-serif;
    letter-spacing: 0.125ex;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

div.notification-bar-action span:hover{
    text-decoration: underline;
}