body {
    background-color: #FFE76D;
}
.App {
    font-family: Whitney;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    color: #F96161;
}
.Header {
    font-family: WhitneyBold;
}
.Header h1 {
    font-size: 8em;
}
.FileZone {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.DropZone {
    font-family: WhitneyLight;
    background-color: #FFF3B0;
    padding: 60px;
    border: 2px dashed #F96161;
}
.DropZone-active {
    animation: pulse 1.5s ease infinite;
}
.FileZone-button {
    margin-top: 10px;
    padding: 5px 0 5px 0;
    background-color: #F96161;
    color: #FFE76D;
}
.UserZone h3 {
    font-family: Whitney;
    margin-top: 2em;
    font-size: 1.4em;
}
.UserZone-container {
    margin-top: 20px;
    min-width: 400px;
}
.User .User-icon {
    font-size: 5em;
}
.User-icon {
    height: 110px;
    -webkit-transition: font-size .3s;
    transition: font-size .3s;
}
.User-icon.active {
    font-size: 7em;
}
.User-name {
    display: inline-block;
    padding: 3px 8px 3px 8px;
    background-color: white;
}
.User .User-icon:hover {
    font-size: 7em;
}
.Avatar {
    text-align: right;
    font-family: WhitneyBold;
    background-color: white;
    padding: 0 5px 0 30px;
    position: absolute;
    right: 20px;
    font-size: 2em;
    top: 15px;
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
    box-shadow: 10px 10px;
}
.Avatar-username {
    padding-right: 5px;
}
.Avatar-emoticon {
    padding-right: 10px;
}
.Footer {
    margin-top: 60px;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@font-face {
    font-family: Whitney;
    src: url('../font/Whitney-Medium-ProGkCy.otf') format("opentype");
}
@font-face {
    font-family: WhitneyBold;
    src: url('../font/Whitney-Bold-ProGkCy.otf') format("opentype");
}
@font-face {
    font-family: WhitneyLight;
    src: url('../font/Whitney-Light-ProGkCy.otf') format("opentype");
}
@font-face {
    font-family: WhitneyLightItalic;
    src: url('../font/Whitney-LightItal-ProGkCy.otf') format("opentype");
}
