.FileTransfer h3{
    text-transform: uppercase;
}

.FileTransfer h5{
    margin: 0;
}

.FilesHolder{
    text-align: left;
}

.Filename, .Filesize{
    display: inline-block;
}

.Filename{
    padding-right:1em;
}

.Filesize{
    text-align: right;
    float: right;
}

.Recipient{
    padding-top: 0.4em;
    text-align: left;
}